<?xml version="1.0" encoding="utf-8"?>
<!-- Map load / station power / salvage. -->
<RunSettings>
  <NUnit>
    <NumberOfTestWorkers>1</NumberOfTestWorkers>
    <DefaultTestNamePattern>{m}{a}</DefaultTestNamePattern>
  </NUnit>
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    <TestCaseFilter>TestCategory=CiMaps</TestCaseFilter>
  </RunConfiguration>
</RunSettings>
