name: .NET Tests

on:
  push:
    branches:
      - main
      - ban_weebhook
  pull_request:
    branches:
      - main
      - ban_weebhook

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Run tests
        run: dotnet test --no-build --verbosity normal

      - name: Report coverage
        if: success()
        uses: codecov/codecov-action@v3
